@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-darkGray: #18171C;
  --main-lighterGray: #1E2128;
  --gold-yellow: #DBB65E;
  --main-white: #FAFAFA;
  --btn-darkYellow: #262626;
  --paragraph-gray: #AAAAAA;
  --line-separate-gray: #222327;
}

a,
ul,
li {
  text-decoration: none;
  list-style: none;
  color: var(--main-white);
}

body {
  background-color: var(--main-darkGray);
}

.line-separator {
  width: 100%;
  background-color: var(--line-separate-gray);
  height: 1px;
  border: unset;
  margin-top: 14px;
}

.section-header {
  font-weight: 400;
  color: var(--main-white);
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

header {
  padding: 20px 18px;
  position: relative;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo {
  width: 140px;
}

.menu__links {
  display: none;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-darkGray);
  padding: 20px 18px;
  z-index: 100;
}

.menu__links .container-decor {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(24, 23, 28, 0.7);
}

.menu__links .menu-container {
  position: absolute;
  max-height: 200px;
  top: 40%;
  right: -50px;
  z-index: -10;
}

.menu__links .navbar-links {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu__links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.menu__links li + li {
  margin-top: 60px;
}

.menu__links li a {
  font-size: 16px;
  text-decoration: none;
  color: var(--main-white);
}

.menu__links .decoration-checkbox {
  position: absolute;
  left: -80px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  outline: 1px solid #DBB65E;
  background-color: #18171C;
}

.menu__links .decoration-checkbox-active {
  background-color: var(--gold-yellow);
}

.menu__links .decoration-line {
  position: absolute;
  top: -109px;
  left: -71px;
  z-index: -1;
  content: '';
  width: 1px;
  height: 400px;
  background-color: #3A3A3A;
}

.mobile__menu-footer {
  position: absolute;
  width: 100%;
  padding: 0 18px;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mobile__menu-footer .language-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 75px;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-white);
}

.mobile__menu-footer .active-language {
  color: var(--gold-yellow);
}

.mobile__menu-footer .contact-number {
  margin-top: 20px;
  font-size: 13px;
  color: #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__menu-footer .contact-number a {
  color: #D9D9D9;
}

.openMenu {
  display: block;
}

main {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

main .main__text {
  padding: 10px 18px;
  position: relative;
}

main .main__text::before {
  content: '';
  width: 3px;
  height: 100%;
  background-color: #DBB65E;
  top: 0;
  left: -18px;
  position: absolute;
}

main .main-header {
  color: var(--main-white);
  font-weight: 300;
  font-size: 32px;
  line-height: 150%;
}

main .main-header span {
  font-weight: 400;
  position: relative;
}

main .main-header span::before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #DBB65E;
  bottom: 0;
  position: absolute;
}

main .main-paragraph {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--paragraph-gray);
  max-width: 230px;
}

main .reserve-btn {
  margin-top: 40px;
  background-color: var(--btn-darkYellow);
  border-radius: 30px;
  border: unset;
  color: var(--gold-yellow);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .reserve-btn .reserve-arrow {
  margin-left: 14px;
}

main .main__container {
  margin-top: 50px;
  overflow: hidden !important;
}

main .main-container {
  padding-left: 40px;
  max-height: 250px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.advantages-section {
  margin-top: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.advantages-section__background {
  width: 100%;
  position: absolute;
  top: -64px;
  left: 0;
  z-index: -10;
}

.advantages-section__header {
  color: var(--main-white);
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
  min-width: 300px;
  margin-bottom: 14px;
}

.advantages-section__line-separate {
  width: 100px;
  height: 4px;
  margin-bottom: 20px;
  background-color: var(--gold-yellow);
  border: unset;
}

.advantages-section__paragraph {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: var(--main-white);
  max-width: 300px;
  text-align: left;
}

.advantages-section__paragraph span {
  font-weight: 400;
}

.advantages-section__img {
  width: 100%;
}

.info-section {
  margin-top: 80px;
  padding: 0 18px;
}

.info-section img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info-section__box {
  margin-top: 95px;
  margin-bottom: 30px;
  border: 1px solid var(--btn-darkYellow);
  padding: 15px 26px;
  border-radius: 10px;
  position: relative;
}

.info-section__box::before {
  content: "20'";
  font-weight: 700;
  color: var(--gold-yellow);
  font-size: 128px;
  line-height: 150px;
  position: absolute;
  top: -75px;
  right: 0;
}

.info-section__box li {
  color: var(--main-white);
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  list-style: disc;
}

.info-section__box-2 {
  margin-top: 120px;
}

.info-section__box-2::before {
  content: "40'";
}
/*# sourceMappingURL=style.css.map */